.login{
    display: flex;   
}

.navbar{
    justify-content: space-around;
}

.btn{
    border: 25%;
    margin-top: 5px;
}

.footer{
    text-align: left;
}

.comments{
    display: flex;
    align-items: baseline;
    margin-top: 10px;
}

.header{
    text-align: left;
}

.grid{
    padding: 5px;
}

.card{
    margin: 20px;
}